<h1>Explore view</h1>

<div class="explore-view">
{{#each allTheMediaFromDB}}
<div class="explore-miniature"><a href="/photoview?_id={{this._id}}"><img class="img-fluid explore-image" src="{{this.url.full_size}}"></a></div>

{{/each}}

</div>
