<h1>Explore view</h1>

<div class="explore-view">
{{#each allTheMediaFromDB}}
<div class="explore-miniature"><a href="/explore/{{this._id}}"><img class="img-fluid explore-image" src="{{this.standard_resolution}}"></a></div>

{{/each}}

</div>
