<h1>Home</h1>
<p>Welcome{{title}}</p>
<div id="container">
  <a href="/signup">
    <button>Sign up</button>
  </a>
  <a href="/auth/instagram">
    <button>Login with Instagram</button>
  </a>

</div>
