<div class="container login">
  <div class="logo-container"><img src="images/xposure.jpg" class="logo"></div>
  
  <form action="/login" method="post" class="frm-lg">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password">
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </div>
  </form>
  <div class="form-group">
      <a href="/auth/instagram">
        <button class="btn btn-secondary btn-block">Login with Instagram</button>
      </a>
    </div>
    <div class="form-group text-center">
      <span>No account yet? </span><a href="/signup">Sign up here!</a>
    </div>
</div>