<html>

<div class="container-fluid home-image d-flex">
  <div class="row align-items-center home">
    <div class="col align-self-start home-box jumbotron">
      
      <h1>Welcome to xPosure</h1>

      <div id="container signup-home">
      <a href="/signup">
      <button class="btn btn-light btn-block btn-lg">Sign up</button>
      </a>
      <a href="/auth/instagram">
      <button class="btn btn-light btn-block btn-lg">Login with Instagram</button>
      </a>
    </div>
  </div>  
</div>
</html>
