<h2>Update your profile</h2>
<form action="/manage/profile" method="post">
  <div class="form-group">
    <label for="displayName">Display name</label>
    <input type="text" class="form-control" id="displayName" name="displayName" aria-describedby="displayNameHelp" placeholder="Enter display name" value="{{user.displayName}}">
    <small id="displayNameHelp" class="form-text text-muted">Your display name is how you'll be identified by others on xPosure.</small>
  </div>
  <div class="form-group">
    <label for="bio">Biography</label>
    <textarea class="form-control" id="bio" name="bio" rows="3">{{user.bio}}</textarea>
  </div>
  <div class="form-group">
    <label for="homepageInput">Website</label>
    <input type="text" class="form-control" name="homePage" id="homePage" value="{{user.homePage}}">
  </div>
  <button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>
<form action="/manage/delete" method="post">
  <input type="hidden" name="_id" value="{{user._id}}">
  <button type="submit" class="btn btn-danger btn-block">Delete account</button>
</form>