<form action="/manage/profile" method="post">
  <input type="text" name="displayName" value="{{user.displayName}}" placeholder="Display name">
  <input type="text" name="bio" value="{{user.bio}}" placeholder="Bio">
  <input type="text" name="homePage" value="{{user.homePage}}" placeholder="homepage">
  <input type="submit" value="Submit">
</form>
<form action="/manage/delete" method="post">
  <input type="hidden" name="_id" value="{{user._id}}">
  <input type="submit" value="Delete account">
</form>