<form action="/signup" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="******">
  <input type="submit" name="Submit" value="Submit">
</form>