
<div class="container">
<h2>Upload a photo</h2>
<form action="/upload" enctype="multipart/form-data" method="post">
  <div class="form-group">
    <label for="image">Select the image to upload</label>
    <input type="file" class="form-control-file" name="image" id="image">
  </div>
  <button type="submit" class="btn btn-primary btn-block">Upload</button>
</form>
</div>


