@import url('https://fonts.googleapis.com/css?family=Montserrat');


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding-top: 70px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #414141;
  padding: 10px 0 10px 0;
}

nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

a {
  color: #9225ad;
}

a:hover{
  color: #5b186c;
}

.container {
  margin-top: 10px;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  width: 300px;
  height: 300px;
}

.icon-logo{
  width: 50px;
  height: 50px;
}

.explore-view {
  display: flex;
  flex-wrap: wrap;
}

.like_btn i {
  color: pink;
  font-size: 20px;
}

nav .wrapper {
  max-width: 640px;
  margin: 0 auto;
}

.user-media-view {
  display: flex;
  flex-wrap: wrap;
}

.like_btn i  {
  color: rgb(241,125,144);
  font-size: 24px;
  padding-bottom: 15px;
}

.edit-btn-container {
  padding: 5px 0 15px 0;
}
.profile-pic {
  width: 65px;
}
.user-info {
  display: flex;
  flex-direction: row;
  padding:15px;
  border: 1px solid #eaeaea;
}

.text-area {
  flex: 0 0 70%;
}

.picture-area {
  flex: 0 0 30%;
  padding: 3px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  margin: 5px 0 5px 0;
  border: 1px solid #eaeaea;
}

.login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

main {
  max-width: 640px;
  margin: 0 auto;
}

/* Small screen */
@media (max-width: 767px) {
  .explore-miniature {
    flex: 0 0 33.3%;
    max-width: 33.3%;
   }

   .user-media-miniature {
    flex: 0 0 33.3%;
    max-width: 33.3%;
   }

   .nav-lg {
     display: none;
   }

   .navbar{
    padding: .2rem 1rem;
   }

  .menu-space {
    height: 50px;
  }
}

/* Desktop */
@media (min-width: 768px) {
  .explore-miniature {
    flex: 0 0 25%;
    max-width: 25%;
   }

   .user-media-miniature {
    flex: 0 0 25%;
    max-width: 25%;
   }

   .nav-sm {
     display: none;
   }

   .navbar {
    padding: .2rem 1rem;
   }

  .logo-container {
    display: flex;
    justify-content: flex-start;
  }
}

.update-form {
  width: 100%;
  height: 25px;
  text-align: center;
}

.explore-image {
  max-width: 100%; 
  height: auto;
  border: 1px solid #eaeaea;
}

.btn-primary {
  color: #fff;
  background-color: #aa2cca;
  border-color: #5b186c;
}

.btn-primary:hover {
  background-color: #5b186c;
}

/* Navbar */
.nav-lg {
  justify-content: flex-start;
}

.nav-sm {
  font-size: 22px;
  font-weight: 100;
  justify-content: space-evenly;
}
.nav-link {
  display: inline;
  padding: .5rem 1rem;
}

.navbar {
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
}