@import url('https://fonts.googleapis.com/css?family=Montserrat');


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  margin: 0;
  padding: 0;
  /* padding: 50px; */
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding-top: 70px;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  font-weight: 600;
  color: #414141;
}
nav{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
a {
  color: #aa2cca;
}
a:hover{
  color:#5b186c;
}

.logo-container{
  display: flex;
  justify-content: center;
}
.logo{
  width:300px;
  height:300px;
}
.icon-logo{
  width: 50px;
  height:50px;
}
.explore-view{
  display: flex;
  flex-wrap: wrap;
}

.like_btn i  {
  color: pink;
  font-size: 20px;
}


.user-media-view{
  display: flex;
  flex-wrap: wrap;
}

.like_btn i  {
  color: pink;
}

.profile-pic{
  width: 60px;
}
.user-info{
  display: flex;
  flex-direction: row;
  padding:10px;
  border: 1px solid #eaeaea;
}

.text-area{
  flex: 0 0 70%;
}

.picture-area{
  flex: 0 0 30%;
  padding: 3px;
  display: flex;
  justify-content: flex-end;
}

.btn{
  margin: 5px 0 5px 0;
  border: 1px solid #eaeaea;
}

@media (max-width: 767px) {
  .explore-miniature{
    flex: 0 0 33.3%;
    max-width: 33.3%;
   }
   .user-media-miniature{
    flex: 0 0 33.3%;
    max-width: 33.3%;
   }
   .nav-lg {
     display:none;
   }

   .navbar{
     padding:0;
   }
  .menu-space{
    height:50px;
  }
}

@media (min-width: 768px) {
  .explore-miniature{
    flex: 0 0 25%;
    max-width: 25%;
   }
   .user-media-miniature{
    flex: 0 0 25%;
    max-width: 25%;
   }
   .nav-sm{
     display:none;
   }
   .form-control {
    /* width: 70%;
    margin: 0 auto; */
   }
   .btn-block {
    width: auto;
   }

   .frm-lg {
    width: 50%;
    /* margin: 0 auto; */
  }
  .logo-container{
    display: flex;
    justify-content: flex-start;
  }

  .text-center {
    text-align:left!important;
  }
}

.update-form {
  width: 100%;
  height: 25px;
  /* border: 1px solid #eaeaea; */
  text-align: center;
}

.explore-image{
  /*width: 50%;*/
  max-width: 100%; 
  height: auto;
  border: 1px solid #eaeaea;
}

.btn-primary {
  color: #fff;
  background-color: #aa2cca;
  border-color: #5b186c;
}

.btn-primary a:hover{
  color:#5b186c;
}


/* Navbar */


.nav-lg {
  justify-content: flex-start;
}

.nav-sm{
  justify-content: space-evenly;
}

.nav-sm{
  font-size: 26px;
  font-weight: 100;
}
.nav-link {
  display: inline;
  padding: .5rem 1rem;
}

/* .navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
} 

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
*/
/* .navbar {
    font-size: 4vh;
 }

.sticky-top {
    font-size: 2vh;
}

  body {
    padding: 0;
  }

  .justify-content-end {
    margin-right: 0;
  }

  .home-image {
    padding: 0;
    margin: 0;
    margin-right: 0;
    height: 100vh;
    background-image: url("http://www.speakeasybcn.com/blog/wp-content/uploads/2018/03/@elenasarinena-born.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    overflow: hidden;

  }

  .d-flex {
    justify-content: center;
    align-content: center;
  }

  .home {
    height: 50%;
    margin-top: 30%
  }

  .jumbotron {
    background-color: rgba(243, 237, 237, 0.788);
  } */
